<h1>Edit Password</h1>

<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>


<%= form_with model: @user, url: update_password_user_path(@user), method: :put, local: true do |form| %>
  <div class="field">
    <%= form.label :current_password %>
    <%= form.text_field :current_password, size: 20 %>
  </div>

  <div class="field">
    <%= form.label :new_password %>
    <%= form.text_field :new_password, size: 20 %>
  </div>

  <br/>
  <div class="actions">
    <%= form.submit "Update Password" %>
  </div>
<% end %>



<%= link_to 'Back', users_path %>